googleTranslateFlow.json
[{"id":"1c234900.ca5e17","type":"tab","label":"GetGoogleTranslationFlow","disabled":false,"info":""},{"id":"604bcde1.0d53f4","type":"http in","z":"1c234900.ca5e17","name":"[GET] /translate","url":"/translate","method":"get","upload":false,"swaggerDoc":"","x":170,"y":180,"wires":[["bf381ef4.6fb8d"]]},{"id":"536f7b31.40a4c4","type":"http response","z":"1c234900.ca5e17","name":"Response","statusCode":"","headers":{"content-type":"application/json"},"x":760,"y":400,"wires":[]},{"id":"bf381ef4.6fb8d","type":"function","z":"1c234900.ca5e17","name":"MapInputs","func":"const from = msg.req.query.from;\nconst to = msg.req.query.to;\nconst phrase = msg.req.query.phrase;\n\n// Payload for node-red-contrib-google-translate-fixed:\n// msg.payload.phrase =phrase; \n// msg.payload.from = from;\n// msg.payload.to = to;\n\n// Payload for node-red-contrib-google-translate - no languages configurations\nmsg.payload = phrase; \nmsg.phrase = phrase;\nmsg.from = from;\nmsg.to = to;\n\n\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":280,"wires":[["85fe2b.2f7e11d8","e1e049af.794aa8"]]},{"id":"85fe2b.2f7e11d8","type":"debug","z":"1c234900.ca5e17","name":"Debugger","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":340,"wires":[]},{"id":"e1e049af.794aa8","type":"google-translate","z":"1c234900.ca5e17","name":"","to":"en","x":250,"y":360,"wires":[["85fe2b.2f7e11d8","a2b2bea8.ef7e8"]]},{"id":"a2b2bea8.ef7e8","type":"function","z":"1c234900.ca5e17","name":"MapResult","func":"const translation = msg.payload;\nconst from_language = msg.from;\nconst to_language = msg.to;\nconst phrase = msg.phrase;\n\nmsg.payload = {\n    phrase,\n    from_language,\n    to_language,\n    translation\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":400,"wires":[["536f7b31.40a4c4"]]}]